In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [5]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [6]:
df.Outcome.value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [7]:
X = df.drop('Outcome',axis=1)
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [8]:
y = df['Outcome']
y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [9]:
from sklearn.preprocessing import StandardScaler

In [10]:
scaler = StandardScaler()

In [11]:
X_scaled = scaler.fit_transform(X)
X_scaled

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, stratify=y, test_size=0.25, random_state=10)

In [14]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

scores = cross_val_score(DecisionTreeClassifier(), X_scaled, y, cv=5)
scores

array([0.69480519, 0.66233766, 0.7012987 , 0.77777778, 0.71895425])

In [15]:
scores.mean()

0.7110347169170699

In [16]:
from sklearn.ensemble import BaggingClassifier
bag_model = BaggingClassifier(DecisionTreeClassifier(), n_estimators=100, max_samples=0.8, oob_score=True, random_state=0)

In [18]:
bag_model.fit(X_train, y_train)

BaggingClassifier(estimator=DecisionTreeClassifier(), max_samples=0.8,
                  n_estimators=100, oob_score=True, random_state=0)

In [20]:
bag_model.oob_score_

0.7534722222222222

In [19]:
bag_model.score(X_test, y_test)

0.7760416666666666

In [21]:
scores = cross_val_score(bag_model, X_scaled, y, cv= 5)
scores.mean()

0.7591800356506239

In [22]:
from sklearn.ensemble import RandomForestClassifier

In [23]:
scores = cross_val_score(RandomForestClassifier(), X_scaled, y, cv= 5)
scores.mean()

0.7683218742042273

In [24]:
df = pd.read_csv('heart.csv')
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [26]:
df['RestingECG'].unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [27]:
df['ST_Slope'].unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [28]:
df['RestingECG'].replace(
    {
       'Normal':1,
       'LVH' : 2,
        'ST' : 3
    },
    inplace= True
)
df['ST_Slope'].replace(
    {
       'Down':1,
       'Flat' : 2,
        'Up' : 3
    },
    inplace= True
)
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,1,172,N,0.0,3,0
1,49,F,NAP,160,180,0,1,156,N,1.0,2,1
2,37,M,ATA,130,283,0,3,98,N,0.0,3,0
3,48,F,ASY,138,214,0,1,108,Y,1.5,2,1
4,54,M,NAP,150,195,0,1,122,N,0.0,3,0

In [29]:
df = pd.get_dummies(df, drop_first=True)
df.head()

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,Oldpeak,ST_Slope,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,ExerciseAngina_Y
0,40,140,289,0,1,172,0.0,3,0,1,1,0,0,0
1,49,160,180,0,1,156,1.0,2,1,0,0,1,0,0
2,37,130,283,0,3,98,0.0,3,0,1,1,0,0,0
3,48,138,214,0,1,108,1.5,2,1,0,0,0,0,1
4,54,150,195,0,1,122,0.0,3,0,1,0,1,0,0

In [30]:
from scipy.stats import zscore

In [31]:
z_scores = np.abs(zscore(df))

In [32]:
threshold = 3

df = df[(z_scores < threshold).all(axis=1)]
df

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,Oldpeak,ST_Slope,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,ExerciseAngina_Y
0,40,140,289,0,1,172,0.0,3,0,1,1,0,0,0
1,49,160,180,0,1,156,1.0,2,1,0,0,1,0,0
2,37,130,283,0,3,98,0.0,3,0,1,1,0,0,0
3,48,138,214,0,1,108,1.5,2,1,0,0,0,0,1
4,54,150,195,0,1,122,0.0,3,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912,57,140,241,0,1,123,0.2,2,1,0,0,0,0,1
914,68,144,193,1,1,141,3.4,2,1,1,0,0,0,0
915,57,130,131,0,1,115,1.2,2,1,1,0,0,0,1
916,57,130,236,0,2,174,0.0,2,1,0,1,0,0,0
917,38,138,175,0,1,173,0.0,3,0,1,0,1,0,0

In [35]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('HeartDisease',axis=1), df['HeartDisease'],test_size=0.2,random_state=20)

In [33]:
from sklearn.svm import SVC

In [34]:
from sklearn.ensemble import BaggingClassifier
bag_model = BaggingClassifier(SVC(), n_estimators=100, max_samples=0.8, oob_score=True, random_state=0)

In [36]:
bag_model.fit(X_train,y_train)

BaggingClassifier(estimator=SVC(), max_samples=0.8, n_estimators=100,
                  oob_score=True, random_state=0)

In [37]:
bag_model.oob_score_

0.7218155197657394

In [38]:
bag_model.score(X_test, y_test)

0.7485380116959064

In [39]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [40]:
X_scaled = scaler.fit_transform(df.drop('HeartDisease',axis=1))

In [41]:
scores = cross_val_score(bag_model, X_scaled, df['HeartDisease'], cv= 5)
scores.mean()

0.8371654626762985